<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample App</title>
</head>
<body>
    <h1>Todo List</h1>
    <div>Add a new item: 
        <form action="{{ url_for('addform') }}" method="POST">
            <input type="text" name="todoitem">
            <input type="submit" value="Add Item">
        </form>
    </div>
    <div>
        
        <ul>
            {% for todo in todos %}
            <li style="font-size: 30pt">{{ todo.tester }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>